.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 35%
    right: 50%




.caja1
  background-color: #FEF5E5 

.negro
  color: black
  font-weight: 900;

.titulo-sexto.color-acento-contenido 
    border-left: 10px solid #BAEFE4
    padding: 3px 0px 3px 10px;

.caja2
  background-color: #D1BCFF

.img-t
  width: auto
  height: auto
.img-a
  display: block
  margin: auto

.caja3
  background-color: #FFFAE8

.rad
  border-radius: 12px

.caja4
  background-color: #FFF1C4

.cajablanca
  background-color: #ffffff
  height: 30px

.radi
  border-radius: 8px

.caja31
  background-color: #FFFAE8
  height: 350px

.caja22
  background-color: #F9F6FE

.fondo21
  background-color: #673AB7
  border-radius: 12px

.cajon.color-primario
  background-color: #D1BCFF

.caja5
  background-color: #FEF5E5
  border-radius: 10px

.lista-ul--color li > i:first-of-type 
    color: #895CD8;


.f-1 i      
  font-size: 10px
.lista-ul--color.color-primario li > i:first-of-type
  color: $color-primario

.titulo-segundo:after 
    content: '';
    display: block;
    height: 5px;
    width: 140px;
    border-left: solid 50px;
    border-left-color: $color-primario;
    background-color: #e8e8e8;

.titulo-segundo.pri:after 
    content: '';
    display: block;
    height: 5px;
    width: 140px;
    border-left: solid 50px;
    border-left-color: $color-primario;
    background-color: $color-primario;
.pri
  color: $color-primario
  font-weight: 900;

.tabs-c__tab
    border-bottom: 6px solid #E8E8E8 !important

.tabs-c__header 
    margin-bottom: 0px !important
.tabs-c
    border-bottom: 4px solid #D0D6D9;

.bg26
  background-color: #FEF5E5

.tabs-c.color-primario .tabs-c__tab--active 
    border-bottom-color: #EBA325 !important;

.tabs-c.color-primario .tabs-c__tab--active:before 
    border-top-color: #EBA325;

.f-2 i      
  font-size: 8px

.lista-ul--color.f-2 li > i:first-of-type 
    color: black;

.avatar
  position: relative
  bottom: -51px
  right: -5rem
  z-index: 1
  @media (max-width: 1000px)
    display: none

.caj
  background-color: #E2D7F8
  border-radius: 18px

.tarjeta-slide.color-acento-contenido .tarjeta-slide__img 
    background-color: #FFD54F;
    
.tarjeta.color-primario * 
    color: #080808;

.tarjeta-slide
  height: 350px

.tarjeta-slide__img 
    position: absolute;
    inset: 0;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat

.lim 
    position: absolute;
    top: 84%;
    right: 34%;

.wid
  top: 84%;
  right: 34%;

.bg11
  background: url('../assets/curso/tema1/bg11.png')