.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 35%
    right: 50%




.caja1
  background-color: #FEF5E5 

.negro
  color: black
  font-weight: 900;

.titulo-sexto.color-acento-contenido 
    border-left: 10px solid #BAEFE4
    padding: 3px 0px 3px 10px;

.caja2
  background-color: #D1BCFF

.img-t
  width: auto
  height: auto
.img-a
  display: block
  margin: auto

.caja3
  background-color: #FFFAE8

.rad
  border-radius: 12px

.caja4
  background-color: #FFF1C4

.cajablanca
  background-color: #ffffff
  height: 30px

.radi
  border-radius: 8px

.caja31
  background-color: #FFFAE8
  height: 350px

.caja22
  background-color: #F9F6FE

.fondo21
  background-color: #673AB7
  border-radius: 12px

.cajon.color-primario
  background-color: #D1BCFF

.caja5
  background-color: #FEF5E5
  border-radius: 10px

.lista-ul--color li > i:first-of-type 
    color: #895CD8;


.f-1 i      
  font-size: 10px
.lista-ul--color.color-primario li > i:first-of-type
  color: $color-primario

